*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li,
a {
	text-decoration: none;
	list-style: none;
	color: inherit;
}

button, 
button:active, 
button:focus {
	outline: none;
	border: none;
}